# Node.js
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db

# Output
dist/
build/

# Environment variables
.env
.env.*

# IDE/editor stuff
.vscode/
.idea/
